:root{
  --header-background-blue: #007bff;
  --background2-blue: #f4f4f4;

  --font-white: white;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background2-blue);
}

header {
  background-color: var(--header-background-blue);
  color: var(--font-white);
  display:flex;
  justify-content: space-between;
  align-items:center;
  text-align: center;
  padding: 1em 2em;
}

h1 {
  margin: 0;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline;
  font-weight: bold;
  margin-right: 0.5em;

}

ul li a{
  text-decoration: none;
  color: var(--font-white);
  
  transform: easy 0.5s  all;
}

ul li a:hover{
  color: black;
}

#main {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

#form-container{
  width:60%;
  background:white;
  padding: 1em 2em;

  border-radius:10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  position: relative;
  width: 80%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f4f4;
}
#image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  

  cursor: pointer;
}
#btnChange {
  display: none;
  margin-top: 10px;
  position: relative;

  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#ImageProd{
  background:white;
  border-radius:10px;

  padding: 2em 2em;
  width:30%;
}

#ImageProd input{
  width:100%;
  height:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#product-form input[type="text"],
#product-form input[type="number"],
#product-form textarea {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#product-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#product-form button:hover {
  background-color: #0056b3;
}

#product-list {
  width: 90%;
  background-color: #fff;
  padding: 2em;
  margin: 2em;
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#product-list h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#product-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#product-list li {
  margin-bottom: 10px;
}

#product-list li span {
  display: block;
  margin-bottom: 5px;
}

#product-list li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

#product-list li button:hover {
  background-color: #c82333;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  margin: 0 auto;
}

#product{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 2em;
}